h1.app-name {
    width: 50%;
    align-self: center;
  }
  
  iframe {
    width: 640px;
    height: 360px;
    margin: 0 auto;
    background-color: #777;
    display: block;
    border-style:none;
  }